{% extends 'blog/base.html' %}

{% block content %}

        {% for post in object_list %}
        <h2><a href="{% url 'blog:detail' post.id %}">{{ post.post_title }}</a></h2>
        <h6>Posted {{ post.post_date }} at {{ post.post_category }}</h6>
        <p>{{ post.post_body| truncatewords:'60'}}</p>
        <button type="button" class="btn btn-primary">Detail</button>
        <hr>
        {% endfor %}

    <div class="row">
        <div class="col-sm-offset-5 col-sm-5">
            <ul class="pagination">

                {% if object_list.has_previous %}
                    <li>
                        <a href="{% url 'blog:category-pag' category.id object_list.previous_page_number %}"><span>&laquo</span></a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href=""><span>&laquo</span></a>
                     </li>
                {% endif %}


                {% for page in object_list.paginator.page_range %}
                    <li><a href="{% url 'blog:category-pag' category.id page %}">{{ page }}</a></li>
                {% endfor%}


                {% if object_list.has_next %}
                    <li>
                        <a href="{% url 'blog:category-pag' category.id object_list.next_page_number %}"><span>&raquo</span></a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href=""><span>&raquo</span></a>
                     </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock%}

{% block navigation %}
    <h3>Caregories</h3>
    <ul class="list-group">
        {% for category in categories %}
        <a href="{% url 'blog:category' category.id %}" class="list-group-item">{{ category.category_title }}</a>
        {% endfor %}
    </ul>
{% endblock %}